.border-component {
  border: 2px solid #ccc; /* Borde gris */
  /* background-color: #f8f9fa; Fondo gris claro */
  padding: 20px; /* Espaciado interno */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.about-page {
  min-height: 100vh; /* Que ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 80px 20px; /* Espacio extra arriba y abajo */
  text-align: center; /* Asegura que el texto esté centrado */
}
.contact-page {
  min-height: 100vh; /* Que ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 80px 20px; /* Espacio extra arriba y abajo */
  text-align: center; /* Asegura que el texto esté centrado */
}
.home-page {
  min-height: 100vh; /* Que ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 80px 20px; /* Espacio extra arriba y abajo */
  text-align: center; /* Asegura que el texto esté centrado */
}
.proyects-page {
  min-height: 100vh; /* Que ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 80px 20px; /* Espacio extra arriba y abajo */
  text-align: center; /* Asegura que el texto esté centrado */
}
.-skills-page {
  min-height: 100vh; /* Que ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 80px 20px; /* Espacio extra arriba y abajo */
  text-align: center; /* Asegura que el texto esté centrado */
}

html {
  scroll-padding-top: 80px; /* Ajusta el valor según el tamaño del navbar */
  scroll-behavior: smooth; /* Hace que el scroll sea suave */
}

/* home */

/* Estilo del texto */
.typewriter {
  color: blue;
  font-weight: bold;
}

/* Imagen al frente */
.profile-image {
  position: relative;
  width: 200px; /* Ajusta el tamaño */
  height: auto;
  margin-top: -120px;
  /* filter: drop-shadow(
    5px 5px 10px rgba(0, 0, 0, 0.3)
  ); Sombra para dar más profundidad */
}
